<div class="grid-3">
    <div class="col" *ngFor="let resume of resumes$ | async">
        <mat-card>
            <mat-card-title>
                {{ resume.name }}
            </mat-card-title>
            <mat-card-content>
                <p>{{ resume.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="selectResume(resume)">CONFIGURER</button>
                <button mat-button (click)="deleteResume(resume)">SUPPRIMER</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
