<div class="grid-3">
    <div class="col" *ngFor="let resume of resumes$ | async">
        <mat-card>
            <mat-card-title>
                {{ resume.name }}
            </mat-card-title>
            <mat-card-content>
                <p>{{ resume.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button matTooltip="Configure" matTooltipPosition="below" (click)="selectResume(resume)"><mat-icon>settings</mat-icon></button>
                <button mat-icon-button matTooltip="Delete" matTooltipPosition="below" (click)="deleteResume(resume)"><mat-icon>delete</mat-icon></button>
                <button mat-icon-button matTooltip="Edit" matTooltipPosition="below" (click)="editResume(resume)"><mat-icon>create</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
