/* You can add global styles to this file, and also import other style files */
@import "~gridlex/src/gridlex.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto;
}

body, html, mat-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin: 50px 12% 0 12%;
}
.spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 15%;
}
